/* Tablet */
@media (max-width: 1023px) and (min-width:740px) {

    .grid {
        width: 740px;
        max-width: 100%;
    }

    #bag {
        height: 445vh;
        background-color: #356882;
    }

    /* introduction  */

    #introduction {
        padding-bottom: 25px;
    }

    .intro__img1 {
        width: 100%;
        margin-top: 98px;
        height: 486px;
    }

    .intro__img2 {
        width: 49%;
        margin-right: 2px;
    }

    .intro__img3 {
        width: 50%;
    }

    .intro__text {
        width: 100%;
        height: 29%;
        top: 82%;
        left: 50%;
    }

    /* Doings */
    #Doings {
        display: block;
        height: 98vh;
    }

    .Do__solution {
        margin-bottom: 2vh;
    }

    .Do__AIS-Script {
        padding: 17px 0 28px;
    }

    .Do__content {
        padding: 20px 0;
    }

    .Do__AIS-img1 {
        width: 100%;
        border-radius: 12px;
    }

    /* Ourparters */

    .partner__bground {
        height: 44vh;
    }

    .partner__text {
        text-align: center;
    }

    /* Ourservices */

    .service__slide {
        height: 44vh;
    }

    /* footer */

    .footer-sub {
        height: 64px;
    }

    .footer-sub-btn {
        padding: 11px 20px;
    }

}

/* mobile */
@media (max-width: 739px) {

    .grid {
        width: 739px;
        max-width: 97%;
    }

    #bag {
        height: 657vh;
    }

    /* menu mobile */

    #header {
        overflow: hidden;
    }

    .header-pack {
        display: block;
    }

    .nav .subnav {
        position: initial;
        width: 100%;
        animation: none;
    }

    .nav .subnav li a {
        max-width: 100%;
    }

    .nav .subnav::before {
        display: none;
    }

    .nav>li {
        display: block;
    }

    .menu-btn {
        display: block;
    }

    /* Introduction */
    #introduction {
        padding-bottom: 36vh;
    }

    .intro__img1 {
        width: 100%;
        margin-top: 98px;
        height: 28vh;
    }

    .intro__img2 {
        width: 49%;
        height: 120px;
        margin-left: 2px;
        margin-bottom: 360px;
    }

    .intro__img3 {
        width: 49%;
        height: 120px;
        margin-bottom: 360px;
    }

    .intro__text {
        width: 100%;
        height: 73%;
        top: 91%;
        left: 50%;
    }

    .intro__list {
        display: block;
    }

    .intro__list-item {
        width: 100%;
    }
    
    .intro__list-item h4 {
        margin-bottom: 2vh;
    }

     /* Doings */
     #Doings {
        display: block;
        height: 132vh;
    }

    .Do__solution {
        margin-bottom: 2vh;
    }

    .Do__AIS-Script {
        margin-bottom: 2vh;
    }

    .Do__AIS-btn {
        float: right;
    }

    .Do__content {
        margin-bottom: 2vh;
    }

    .Do__btn {
        margin: 8px 30px 0 0;
        float: right;
    }

    .Do__AIS-img1 {
        height: 37vh;
        width: 100%;
        border-radius: 12px;
    }

    /* Ourparters */

    .partner__bground {
        height: 55vh;
    }

    .partner__text {
        color: #fff;
        font-size: 27px;
        font-weight: bold;
    }

    /* Ourservices */

    .service__text {
        font-size: 27px;
    }

    .service__slide {
        height: 52vh;
    }

    .service__icon {
        font-size: 29px;
    }

    .service__slide-heading {
        font-size: 21px;
    }

    .service__slide-graph {
        max-width: 67%; 
    }


    /* Callingphase */
    #Callingphase {
        display: block;
        padding-bottom: 36vh;
    }

    .call-wrap {
        display: block;
    }

    .call__text {
        padding: 7vh;
    }

    .call__text p {
        font-size: 26px;
    }

    .call__img1 {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    /* footer */

    #footer {
        padding-bottom: 20vh;
    }

    .footer-wrap {
        display: flex;
        flex-direction: column-reverse;
    }

    .service {
        padding-bottom: 3vh;
        margin-left: 0;
    }

    /* footer sub */

    .footer-sub {
        height: 110px;
        display: block;
        padding: 18px 0 18px 6px;
    }

    .footer-sub-text {
        font-size: 14px;
    }

    .footer-sub-btn {
        padding: 10px 24px;
        margin-top: 10px;
    }
}