

#header {
    background-color: #356882;
    height: 46px;
    display: flex;
    justify-content: space-between;
}

.header-logo__img {
    height: 46px;
}

.nav {
    list-style: none;
    /* padding-right: 74px; */
}

.nav > li {
    display: inline-block;
    position: relative;
}

.nav > li > a {
    color: #fff;
}

.nav li a {
    text-decoration: none; 
    line-height: 46px;
    padding: 0 24px;
}

.nav li:hover a {
    color:  #0e2a35;
}
.nav .subnav {
    list-style: none;
    display: none;
    position: absolute;
    background-color: orange;
    width: 242px;
    border-radius: 4px;
}

.nav li:hover .subnav {
    display: block;
}

.nav .subnav a {
    color:#000;
    font-size: 10px;
}

.nav .subnav li:hover {
    background-color: rgb(219, 172, 85);
}




